body
{
    font-family: 'Poppins', sans-serif;
}

.content-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;

    padding-bottom: 50px;
}

.description-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    max-width: 800px;
    min-width: 300px;

    text-align: center;
}

.options-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width : 100%;
    max-width: 800px;   
}

.option-button
{
    
    width: 100%;

    border-radius: 10px;

    text-align: center;

    background-color: #3d3b3c;
    color: white;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);

    padding-left: 20px;
    padding-right: 20px;


}

.menu-section
{
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
    align-items: center;

    width : 100%;
    max-width: 800px
}

.information-section
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width : 100%;
    max-width: 800px;   
}

.go-to-resource
{
    border-style: none;
    background-color: #3d3b3c;
    color: white;
    border-radius: 10px;
    width: 75%;
    height: 40px
}

#selectedLanguage
{
    width: 100px;
    height: 20px;

    margin-left: 20px;

}

.steps-section
{
    width: 100%;
}

.video-section
{
    width: 100%;
}