.content-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;

    padding-bottom: 50px;
}

.description-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    max-width: 800px;
    min-width: 300px;

    text-align: center;

    background-color: rgb(4 44 100 / 0.6);
}

.options-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width : 100%;
    max-width: 800px;   
}

.option-button
{
    
    width: 100%;

    border-radius: 10px;

    text-align: center;

    background-color: #fb6376;
    color: white;
    font-weight: 700;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);

    padding-left: 20px;
    padding-right: 20px;


}

.menu-section
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width : 100%;
    max-width: 800px
}

.language-section-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-section-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.information-section
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width : 100%;
    max-width: 800px;   
}

.go-to-resource
{
    border-style: none;
    background-color: #eb6e1c;
    color: white;
    border-radius: 10px;
    width: 75%;
    height: 40px
}

#selectedLanguage
{
    width: 100px;
    height: 20px;

    margin-left: 20px;

}

.steps-section
{
    width: 100%;
}

.video-section
{
    width: 100%;
}
@media only screen and (min-width: 601px) {    
    body
    {
        font-family: 'Poppins', sans-serif;
        background-color: #042c64;
        color: #fff;
        background-image: url("../items-bg.png");
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 600px) {    
    body
    {
        font-family: 'Poppins', sans-serif;
        background-color: #042c64;
        color: #fff;
        background-image: url("../items-bg.png");
        background-repeat:repeat;
        background-size:auto;
        background-position: center;

    }
}