.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .spinner {
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 10px solid #3d3b3c;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

