.header-text
{
    font-size: 25px;
    font-weight: bold;
}

.page-description-text
{
    font-size: 20px;
}

.normal-text
{
    font-size: 20px;
}

.about-us-text
{
    font-size: 18px;
    color: #3d3b3c;
}

